/* Set default styles for the whole page */
* {
  box-sizing: border-box;
}
/* This helps to keep the color palette consistent and makes it easy to change the colors globally by just modifying the variable's value. */
:root{
  --color1: #cfbb61;   
  --color2: rgb(31 36 36);
  --color3: #fff;
  --color4: #333;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color2);
  }

  /* Style the header */
    header {
    background-color: var(--color4);
    color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;

    align-items: center;
    padding: 10px 10px 5px 00px;
    }
    /* inside the header */
      header h1 {
      margin: 0;
      padding: 5px 1% 5px 6%;
      background-color: var(--color1);
      color: var(--color4);
      }


      


      /* toggle code */
        body.dark {
        background-color: var(--color2);
        color: var(--color3);
        }
        .checkbox {
        opacity: 0;
        position:absolute;
        }
        .label {
        width: 20px;
        height: 5px;
        background-color:var(--color2);
        display: flex;
        border-radius:20px;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.5);
        box-sizing:unset;
        }
        .ball {
        width: 12px;
        height: 12px;
        background-color: var(--color3);
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
        }
        .checkbox:checked + .label .ball{   /*  target the elemenent after the label*/
        transform: translateX(15px);
        }
        .label i {
        font-size: 10px;
        color: var(--color1);
        font-weight: bold;
        font-style: normal;
        }
      /* here ends the toggle code */

      .transition {   /* for the tansition effects */
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      }
    
      /* Code for the links in the header */
        nav a, 
        .popup a,
        address a { /* Re used the code in the header for the adress links */
        position: relative;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: var(--color1);
        }
        nav a::after, 
        .popup a::after,
        address a::after { /* Re used the code in the header for the adress links */
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color1);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
        }

        nav a:hover::after,
        .popup h2:hover::after,
        address a:hover::after{   /* Re used the code in the header for the adress links */
        transform: scaleX(1);
        transform-origin: bottom left;
        }

        /* Code for the resume effect */
          .popup {
          position: relative;
          display: inline-block;
          }
          /* style for the Resume pic */
          .popup .popup-content {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          z-index: 1;
          top: 50px;
          left: 100%;
          margin-left: -210%;
          padding: 10px;
          background-image: url(../images/cv.png);
          background-size: cover;
          border: 1px solid var(--color1);
          box-shadow: 0px 2px 5px var(--color2);
          transition: all 0.9s ease;
          color: var(--color1);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 550%;
          width: 200%;
          }
          .popup:hover .popup-content {
          visibility: visible;
          opacity: 1;
          top: 90px;
          }
      
  /* Style for the banner */
    .banner {
    background-image: url('../images/baner2.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    }
      .banner div {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      }
      
      .photo {
        background-image: url(../images/profilepic.png);
        background-size: cover;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 1px solid var(--color1);
      }
      
      
      .banner h2 {
      font-size: 30px;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      }
  
  /* Style the main content */
    main {
    margin-top: 20px;
    margin-bottom: 45px;
    }
  
    .main-portfolio {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    }
  
    .sections {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    }

  
    .sections h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: 10px solid var(--color1)
    }
    .sections div {
    flex: 0 0 77%;
    }
    /* Style the portfolio section */
      .work-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      }
  
      .workbox {
      background-size:100%;
      background-blend-mode:overlay;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--color4);
      text-align: left;
      text-decoration: none;
      min-height: 200px;
      max-height: 2000px;
      width: calc(50% - 20px);
      margin-bottom: 20px;
      border: 3px solid var(--color1);
      transition: all 0.2s ease-in-out;
      }
      .workbox:first-child {
      min-height: 300px;
      flex-basis: 100%;
      }

      .workbox:hover {
      background-color: var(--color4);
      color: var(--color3);
      }
      
      .workbox div {
      background-color: var(--color1);
      padding: 5px 1% 5px 6%;
      max-width: 45%;
      }
      
      .workbox h3 {
      font-size: 25px;
      }
      
      .work-container span {
      font-size: 20px;
      }
      .Sales-Tracker {
      background-image: url(../images/project2.gif);
      }
      .catspage {
      background-image: url(../images/cats.jpg);
      }
      .prework-bootcamp {
      background-image: url(../images/prework.png);
      }
      .module1challenge {
      background-image: url(../images/challenge1.png);
      }
      .P1_Lyrics_search-COLAB{
      background-image: url(../images/lyrics_page.gif);
      }
      .Weather_Dashboard{
        background-image: url(../images/c6.gif);
      }
      .WorkDayScheduler{
        background-image: url(../images/c5.gif);
      }
      .Code-quiz-and-miscellaneous{
        background-image: url(../images/c4.gif);
      }
      .password-generator{
        background-image: url(../images/c3.gif);
      }

    /* Style the contact section */
    address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    }
    address a{
    background-color: var(--color4);
    }
  
    .contact a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    }
/* Style for media queries to make the layout responsive on smaller screens */
    @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .sections h2,
    .sections div {
      flex: 0 0 100%;
    }
  
    .sections h2 {
      border-right: none;
      border-bottom: 4px solid var(--color1);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .workbox,
    .workbox:first-child {
      flex-basis: 100%;
    }
  
    .workbox:first-child {
      min-height: 150px;
    }
  
    .banner {
      justify-content: center;
      text-align: center;
    }
  
    address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  