/* Set default styles for the whole page */
* {
  box-sizing: border-box;
}
:root{
  --color1: #cfbb61;   
  --color2: rgb(31 36 36);
  --color3: #fff;
  --color4: 
  --color5: 
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color2);
    
  }
  /* toggle code */
  body.dark {
    background-color: var(--color2);
    color: var(--color3);
  }

  .checkbox {
    opacity: 0;
    position:absolute;

  }
  .label {
    width: 20px;
    height: 5px;
    background-color:black;
    display: flex;
    border-radius:20px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    box-sizing:unset;
  }
  
  .ball {
    width: 12px;
    height: 12px;
    background-color: gray;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }


  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(15px);
  }

  .label i {
    font-size: 10px;
    font-weight: bold;
    color: var(--color1);
    font-size: 10px;
    font-weight: bold;
    color: var(--color1);
    font-size: 10px;
    font-weight: bold;
    font-style: normal;

    font-style: normal;

  }
    /* here ends the toggle code */

    .transition {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    /* Estilo inicial del elemento */
    .popup {
      position: relative;
      display: inline-block;
    }
    
    /* Estilo de la ventana emergente */
    .popup .popup-content {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: 1;
      top: 50px;
      left: 100%;
      margin-left: -210%;
      padding: 10px;
      background-image: url(../images/cv.png);
      background-size: cover;
      border: 1px solid var(--color1);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.9s ease;
      background-position: center;
      color: var(--color1);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300%;
      width: 200%;
    }
    
    /* Estilo del elemento cuando se coloca el cursor encima */
    .popup:hover .popup-content {
      visibility: visible;
      opacity: 1;
      top: 90px;
    }

  /* Style the header */
  
  header {
    background-color: #333;
    color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px 5px 00px;
  }
  
  header h1 {
    margin: 0;
    padding: 5px 1% 5px 6%;
    background-color: var(--color1);
    color: #333;
  }
  /* Code for the links in the header */
  nav a, 
  .popup h2,
  address a {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: var(--color1);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  nav a::after, 
  .popup h2::after,
  address a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color1);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  nav a:hover::after,
  .popup h2:hover::after,
  address a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  main {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .banner {
    background-image: url('../images/baner2.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .banner div {
    flex: 0 0 100%;
  }
  .banner h2 {
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Style the main content */
  
  .main-portfolio {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sections {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  
  .sections h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 4vw;
    line-height: 1.1;
    border-right: 10px solid var(--color1)
  }
  .sections div {
    flex: 0 0 77%;
  }
  /* Style the portfolio section */
  
  .work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .work-container a {
    background-color: beige;
    color: #333;
    text-align: center;
    text-decoration: none;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .work-container a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .work-container h3 {
    margin: 0;
  }
  
  .work-container span {
    font-size: 14px;
  }
  
  /* Style the contact section */
  address a{
    color: var(--color2);
  }

  address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .contact a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
  }
  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  