/* Set default styles for the whole page */
:root{
  --color1: #619acf;   
  --color2: 
  --color3:
  --color4: 
  --color5: 
}
h2, p{
  color: rgb(31 36 36);
}


body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  /* toggle code */
  body.dark {
    background-color: rgb(31 36 36);
  }

  .checkbox {
    opacity: 0;
    position:absolute;
  }
  
  .label {
    width: 20px;
    height: 5px;
    background-color:black;
    display: flex;
    border-radius:20px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 12px;
    height: 12px;
    background-color: gray;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(15px);
  }

  .label i {
    font-size: 10px;
    font-weight: bold;
    color: var(--color1);
    font-size: 10px;
    font-weight: bold;
    font-style: normal;

  }
    /* here ends the toggle code */
  /* Style the header */
  
  header {
    background-color: #222;
    color: var(--color1);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px 5px 20px;
  }
  
  header h1 {
    margin: 0;
    padding: 10px 10px 5px 20px;
  }
  /* Code for the links in the header */
  nav a {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: var(--color1);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color1);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* Style the hero banner */
  
  .banner {
    background-image: url('../images/baner2.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .banner h2 {
    font-size: 30px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Style the main content */
  
  .main-portfolio {
    margin: 30px auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .sections {
    margin-bottom: 50px;
  }
  
  .page-section h2 {
    margin-top: 0;
  }
  
  /* Style the portfolio section */
  
  .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .work-container a {
    background-color: beige;
    color: #333;
    text-align: center;
    text-decoration: none;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .work-container a:hover {
    background-color: #333;
    color: #fff;
  }
  
  .work-container h3 {
    margin: 0;
  }
  
  .work-container span {
    font-size: 14px;
  }
  
  /* Style the contact section */
  
  .contact address {
    margin: 0;
  }
  
  .contact a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
  }